.container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  height: auto;
}

.container>.block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-basis: 30em;
  -ms-flex-preferred-size: 30em;
      flex-basis: 30em;
  padding: 0 1rem;
}
