/* ------------- variables ------------- */
/* ------------- body layout ------------- */
html {
  height: 100%;
  font-family: 'Roboto Mono', sans-serif; }

body {
  /*padding: 1em;*/
  margin: 0;
  animation: body-fade-in 1s ease-in;
  -webkit-animation: body-fade-in 1s ease-in; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

/* ------------- styling of styleguide id section ------------- */
#text,
#atoms,
#molecules,
#organisms {
  margin: 5%; }

#atoms {
  margin-top: 9rem; }

/* ------------- styling of atoms ------------- */
/* stylized headers */
[class*="head-"] {
  /*font-family: 'Playfair Display', serif;*/
  font-family: 'Roboto Mono', sans-serif;
  /*text-transform: uppercase;*/ }

.head-1 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0;
  font-size: 3em;
  text-transform: uppercase; }

.head-2 {
  font-size: 1.7em;
  letter-spacing: 0.2rem;
  /*border-top: solid black 1px;*/
  display: inline-block;
  text-transform: uppercase;
  margin: 0; }

.head-3 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold; }

.head-4 {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  /*text-transform: uppercase;*/ }

[class*="centered"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: 100%; }

/* fonting some elements */
.p-style {
  font-family: 'Roboto Mono', sans-serif;
  padding: 0.8em 0;
  margin-bottom: 0;
  line-height: 28px;
  color: grey; }

/* entry fields */
.field-label {
  font-family: 'Raleway', sans-serif;
  margin: 0.5rem 0;
  display: block;
  font-weight: 400; }

/* anchor and button styles */
.inline-link,
.inline-link:visited {
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #00c2e4; }

.inline-link:hover {
  color: #1a8496;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-weight: bold;
  text-decoration: underline; }

/*nav*/
.nav-default {
  background-color: white;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 2.2rem;
  /*text-align: right;*/
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100000; }

.thick {
  padding: 2rem;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.nav-title {
  /*font-family: 'Times New Roman', sans-serif;*/
  position: relative;
  font-size: 1.2em;
  display: inline;
  float: left;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-decoration: none; }

.nav-logo-link,
.nav-logo-link:visited {
  text-decoration: none;
  color: #333333; }

.nav-link,
.nav-link:visited {
  font-family: 'Raleway', sans-serif;
  /*margin-bottom: 1rem;*/
  font-size: 1.2em;
  text-align: center;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.7;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 1%; }

.hidden {
  display: none; }

.nav-link:hover {
  border-bottom: solid 2px #333;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1; }

/* buttons now */
[class*="button-"] {
  font-size: 1.2em;
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  letter-spacing: 2px;
  /*margin: 1rem;*/
  width: 100%;
  height: 3rem;
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  margin: 0.5rem 0;
  cursor: pointer; }

.button-submit {
  width: 10rem;
  background: white;
  color: #00c2e4;
  border: 1px #00c2e4 solid; }
  .button-submit:hover {
    width: 10rem;
    color: white;
    background: #00c2e4;
    border: 1px #00c2e4 solid;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease; }

.button-link, :visited {
  color: grey;
  width: auto; }
  .button-link:hover, :visited:hover {
    color: black;
    text-shadow: 5px 5px 10px #768fa5; }

/* color palette squares */
/* c/o http://codeitdown.com/css-square-rectangle/ for this code */
.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 16%;
  overflow: hidden;
  /*margin: 0.5%;*/
  /*float: left;*/
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 0.9rem;
  /*border-radius: 8px;*/
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.2); }

.square:before {
  content: "";
  display: block;
  padding-top: 100%; }

.square-content {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center; }

.square-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white; }

/* color palette */
/* standard colors */
.our-black {
  background-color: #343434;
  color: white; }

.our-grey {
  border: solid lightgrey 1px;
  background: #f5f5f5;
  color: black; }

.our-pink {
  background: #ff9787;
  color: white; }

.our-blue {
  background: #00c2e4;
  color: white; }

/*styleguide*/
[id*="section-"] {
  margin: 0 2rem 5rem 0rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

#section-paragraph {
  width: 50%;
  margin-left: 10%; }

#hero {
  width: 100%;
  height: 40rem; }

.my-name {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero-link {
  margin: 1% 3% 5% 3%; }

#featured {
  padding: 10% 0 0 0; }

.featured-description {
  padding: 20% 0;
  color: white;
  text-decoration: none; }
  .beep .featured-description {
    text-align: left;
    padding-left: 20%; }
  .amorphous .featured-description {
    text-align: left;
    padding-left: 7%; }
  .featured-description .head-4 {
    margin-top: 1rem; }

.featured-img {
  max-width: 30rem; }

#projects {
  height: auto;
  margin: 5rem 0 5% 0;
  position: relative; }
  #projects h1 {
    position: absolute;
    padding: 0;
    top: -42px;
    z-index: 100;
    left: 3%;
    text-shadow: 5px 5px 10px #768fa5; }

.proj-article {
  max-width: 19rem;
  height: auto;
  margin-left: 2%; }

.proj-box {
  width: 100%;
  height: auto;
  position: relative; }

.proj-description {
  position: absolute;
  left: 0;
  top: -50px;
  margin-left: 4%;
  color: white; }

.proj-title {
  margin: 0 0 5% 0; }

#about {
  padding: 5rem 0 3rem 0; }
  #about .p-style {
    color: white; }

.half-img {
  width: 50%;
  height: auto;
  display: inline-block;
  position: relative; }

.half-text {
  width: 50%; }

.skillset {
  padding: 1rem 0; }

.skill-block {
  display: inline-block;
  width: 10%;
  max-width: 6rem;
  height: auto;
  padding: 1rem 5%;
  background: #00c2e4;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-left: 10px; }

#footer {
  height: 10rem; }
